<section>
    <div class="text-center">
      <img src="../../assets/img/LOGO-FINAL.fw.png" class="welcome-img" alt="...">
    </div>

  <h1>Nosso objetivo</h1>
  <p>Além de ajudar você à emagrecer, ganhar massa muscular e definir seus músculos, temos uma missão para facilitar a prática do exercício diário de cada usuário de nosso sisitema, sem exceção. Juntamente com a ideia de promover uma saúde melhor à todos que o utilizam. Nosso sistema busca uma automatização do sistema interligado à academias, em nosso site você, professor/treinador pode se cadastrar para agendar aulas com seus alunos (as), pode também acompanhar o progesso dos mesmo, e ainda tem a aptidão de alterar a série de exercícios de cada aluno (a) dentro do site. Já na visão do aluno (a), ele (a) poderá acompanhar suas séries diárias facilmente atravéz da tela do celular, em nosso aplicativo para aluno LordFit - disponível na Google Store.</p>

  <h2>Inspiração</h2>
  <p>Somos movidos por uma vontade de gerar alegria e prazer para nossos usuários (as), depois que alcançado isso, o que nos resta fazer é trabalhar em melhorias para que sempre existam novidades, e com isso, consigamos atingir um público maior, para que mais pessoas possam aderir este hábito de práticar exercícios.</p>

  <h1>Time de desenvolvedores</h1>
  <p>Quatro pessoas fazem parte de nosso time, dentre elas temos:
    <table id="tabela">
      <tr>	
        <td>
            <p>
                <img src="../../assets/img/foto-bruno.fw.png"
                    width="80" height="80"
                    alt="Desenvolvedor Mobile - Bruno Caboclo" title="Bruno Caboclo">
              <p>Desenvolvedor Mobile
        </td>
        
        <td>	
              <p>
                <img src="../../assets/img/foto-carlos.fw.png"
                    width="80" height="80"
                    alt="Desenvolvedor Front-End - Carlos Eduardo" title="Carlos Eduardo">
              <p>Desenvolvedor Front-End
        </td>	
        
        <td>
                <p>
                  <img src="../../assets/img/foto-jeni.fw.png"
                      width="80" height="80"
                      alt="Desenvolvedor Front-End - Jeniffer Quaiat" title="Jeniffer Quaiat">
                <p>Desenvolvedor Front-End
        </td>
        
        <td>
                <p>
                  <img src="../../assets/img/foto-rafa.fw.png"
                      width="80" height="80"
                      alt="Desenvolvedor Back-End - Rafael Santana" title="Rafael Santana">
                <p>Desenvolvedor Back-End
        </td>
      </tr>
    </table>
      
      
  <br><br>
  <p id="faca-parte">Começe agora a fazer parte do nosso time LordFit.</p>
  <p class="acesse"> Acesse LINKDOCADASTROPROFESSOR para se cadastrar em nosso site (coach), 
  <p class="acesse">acesse LINKGOOGLESTORE para fazer o download do App.</p>
  <p id="ansiosos">Esperamos ansiosos pelo seu cadastro, venha emagreçer com a gente!</p>

</section>

<!-- <footer class="fixarRodape">
	<table>
		<tr>
			<td>
				<figure id="logomarca-rodape">
						<img src="C:\Users\jenif\Desktop\WorkSpace\LOGO_FINAL.jpg" alt="logomarca" title="LordFit">
				</figure>
				
			</td>
		</tr>
	</table>					
			
	</footer> -->