<!-- <div class="pos-f-t" >
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
          aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/" href="#">
                <i class="fas fa-home"></i> 
                Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" href="#">
                <i class="fas fa-address-card"></i> 
                About
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" href="#">
                <i class="fas fa-phone"></i> 
                Contact us
              </a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item avatar">
              <a class="nav-link p-0" href="#">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
                  alt="avatar image" height="35">
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div> -->

<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1">
    <a class="navbar-brand" routerLink="/logo" href="#">
      <img src="../../assets/img/LOGO-FINAL_REDUZIDO.fw.png" class="rounded-circle z-depth-0" alt="avatar image" height="35">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
      aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" href="#">
            <i class="fas fa-home"></i> 
            Home
            <!-- <span class="sr-only">(current)</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/worckout" href="#">
            <i class="fas fa-dumbbell"></i> 
            Worckout
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" href="#">
            <i class="fas fa-address-card"></i> 
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" href="#">
            <i class="fas fa-phone"></i> 
            Contact us
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar">
          <a class="nav-link p-0" href="#">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
              alt="avatar image" height="35">
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->